<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add  key="filesFolder" value="files"/>
    <add  key="threadsNumber" value="4"  />
    <add  key="serverUrl" value="http://localhost:55125/encryptfile"  />
    <!--bytes-->
    <add key ="bufferSize" value="102400000"/>
    <!--seconds-->
    <add key="encryptTimeout" value="60"/>
  </appSettings>
</configuration>